/*
 * Global style rules that uses in most of the views and/or components
 * NOTE: only when rules are used through multiple components/views
         can be placed here. Otherwise just use scoped style tag.
*/

/*==================== Main navigation views ====================*/
/* Sidebar quick action buttons icon size */
.control i {
    font-size: 18px;
}
/* Filter/Ordering collapse panel */
.el-collapse-item__content {
    padding-bottom: 0;
}
/* Sidebar */
.view-side {
    margin-left: 50px;
    position: fixed;
}
/* Sidebar action button container */
.view-side > .control {
    text-align: center;
}
/* Sidebar introduction card */
.view-side > .intro {
    margin: 20px 0;
}
/* Sidebar card */
.view-side .el-card__body {
    font-size: 13px;
    padding-top: 0;
    padding-bottom: 0;
}

/*==================== Spacing helpers ====================*/
$sizes: (0,10,15,20,25,30,35,40,50,60,80);
$sides: ('top','left','bottom','right');

@each $size in $sizes {
    .m-#{$size} {
        margin: $size + px;
    }
    .p-#{$size} {
        padding: $size + px;
    }
    @each $pos in $sides {
        .m-#{$pos}-#{$size} {
            margin-#{$pos}: $size + px;
        }
        .p-#{$pos}-#{$size} {
            padding-#{$pos}: $size + px;
        }
    }
}

/*==================== Positioning helpers ====================*/
$aligns: ('left', 'right', 'center');
$poses: ('fixed', 'relative', 'absolute');

@each $align in $aligns {
    .text-#{$align} {
        text-align: #{$align};
    }
}

@each $pos in $poses {
    .pos-#{$pos} {
        position: $pos;
    }
}